torch
torchvision
segmentation-models-pytorch
albumentations>=1.4.9,<2
opencv-python-headless
numpy
pandas
pillow
matplotlib
scikit-learn
ipykernel

# app
fastapi
uvicorn
python-multipart
streamlit
requests
gymnasium
stable-baselines3
plotly
anthropic